#register-form {
    padding: 20px 100px;
    text-align: start;
}

#register-form button {
    float: right;
}

#register-form .button {
    display: inline;
}

@media (max-width: 768px) {
    #register-form .btn {
        float: right;
        margin: 3px;
    }
}

#register-footer {
    background-color: #222222;
    color: whitesmoke;
}

#mainNav.navbar-background {
    background-color: #222222;
}

.error {
    color: red;
}

.successMessage {
    color: green;
}

.errorMessage {
    color: red;
}

.cpointer {
    cursor: pointer;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

.dnone {
    display: none;
}

.spinner {
    margin-left: 5px;
}